.hamburger {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger span {
  width: 24px;
  height: 3px;
  background-color: var(--dark);
  border-radius: 0.75rem;
  transition: var(--transition);
}

.hamburger.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.4);
  transition: var(--transition);
  z-index: 90;
}

.overlay.show {
  opacity: 1;
  pointer-events: all;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  width: clamp(200px, 35vw, 350px);
  height: 100vh;
  padding: 2rem 1.5rem;
  background-color: var(--gray-100);
  transition: var(--transition);
  z-index: 100;
}

.sidebar.show {
  transform: translateX(0);
}

.sidebar-title {
  margin-bottom: 2rem;
}

.wrapper-item {
  padding: 1rem 0;
  color: var(--gray-600);
  font-size: 1.125rem;
  cursor: pointer;
}

.menu-item {
  border-bottom: 1px solid var(--gray-600);
  padding-bottom: 0.5rem;
  transition: var(--transition);
}

.setting-label {
  color: var(--dark);
}

.toggle-box {
  width: 3.25rem;
  height: 1.75rem;
  padding: 3px;
  border-radius: var(--radius-pill);
  border: none;
  background-color: var(--gray-400);
  cursor: pointer;
  transition: var(--transition);
}

.toggle-box.active {
  background-color: #4caf50;
}

.toggle-box.active .toggle-circle {
  transform: translateX(24px);
}

.toggle-circle {
  display: block;
  width: 1.375rem;
  height: 1.375rem;
  border-radius: var(--radius-pill);
  background-color: var(--white);
  transition: var(--transition);
}
